[submodule "termux-packages"]
	path = termux-packages
	url = https://github.com/termux/termux-packages
[submodule "unstable-packages"]
	path = unstable-packages
	url = https://github.com/termux/unstable-packages
